* {
    box-sizing: border-box;
}

.blue {
    font-size: 30px;
    margin-right: 9px;
}

.title {
    font-size: 22px;
    font-weight: bold;
}

.row1 {
    height: 50px;
    line-height: 50px;
}

.row1_right {
    // display: flex;
    // align-items: center;
    height: 83px;
    line-height: 83px;
    text-align: right;
}

.left {
    float: left;
}

.input {
    display: inline-block;
}

.section1 {
    margin-bottom: 20px;
}

.card_content {
    padding: 18px 0;
}

.card {
    p {
        font-weight: bold;
    }
}

:global(.ant-row) {
    line-height: 40px;
}

.cardList {
    padding-bottom: 30px !important;
    border-bottom: 1px splid red !important;
}