* {
    box-sizing: border-box;
}

.blue {
    font-size: 30px;
    margin-right: 9px;
}

.title {
    font-size: 22px;
    font-weight: bold;
}

.left {
    float: left;
}

.input {
    display: inline-block;
}

.card_content {
    min-height: 200px;
    max-height: 200px;
    padding: 18px 0;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card {
    min-height: 400px;
    max-height: 400px;
    p {
        font-weight: bold;
    }
    margin-bottom: 10px;
}

:global(.ant-row) {
    line-height: 40px;
}

.cardList {
    padding-bottom: 30px !important;
    border-bottom: 1px splid red !important;
}
.cancelButton {
    min-width: 120px;
}