@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';
// .container {//     width: 100%;
//     height: 100%;
//     background-color: @body-background;
// }
.container {
    width: 100%; // height: ~'calc(100vh - 12px)';
    height: ~'calc(100vh - 112px)';
    background-color: @body-background; // display: flex;
    padding: 25px;
    overflow: auto;
}

.left {
    width: 200px;
    height: ~'calc(100vh - 250px)';
    float: left;
    border-right: 1px solid #e8e8e8;
}

.right {
    float: right;
    width: ~'calc(100% - 200px)';
    padding-left: 20px;
}

.breadcrumb {
    height: 88px;
    line-height: 88px;
    padding-left: 20px;
}

.box {
    .clearfix();
    width: 100%;
}