.container {
    padding: 24px 24px 0;
    background: #fff;
}

.filterRow {
    line-height: 60px;
    border-bottom: 1px solid #DDDDDD;
}

.tabs {
    :global {
        .ant-tabs-nav-container {
            margin: 0 0 0 25px;
        }
    }
}
.gray {
    span{
        color:#d9d9d9 !important;
    }
}
.filterHeader {
    border: 1px solid #DDDDDD;
    padding: 5px 20px;
}